.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1423em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -105.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -155.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -202.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -252.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -258.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -303.8em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -351.4em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -353.7em;
      width: 2.2em;
      height: 1.9em;
  }




  .icon.checked:before {
      background-position: 0em -355.6em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clock:before {
      background-position: 0em -358.2em;
      width: 37.296em;
      height: 37.296em;
  }




  .icon.close:before {
      background-position: 0em -395.5em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.close-fat:before {
      background-position: 0em -401em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.conner-arrow-left:before {
      background-position: 0em -403.2em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.conner-arrow-right:before {
      background-position: 0em -404.8em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.download:before {
      background-position: 0em -406.4em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.filter:before {
      background-position: 0em -453.6em;
      width: 1.8em;
      height: 1.2em;
  }




  .icon.garbage:before {
      background-position: 0em -454.8em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -460.7em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.hit:before {
      background-position: 0em -507.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.hot:before {
      background-position: 0em -510.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.house:before {
      background-position: 0em -512.7em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -561.4em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -594.4em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -643.5em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.login:before {
      background-position: 0em -692.6em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.maestro:before {
      background-position: 0em -695.9em;
      width: 4em;
      height: 2.4em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -698.3em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -743.4em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.mastercard:before {
      background-position: 0em -791.8em;
      width: 4em;
      height: 2.4em;
  }




  .icon.menu:before {
      background-position: 0em -794.2em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.new:before {
      background-position: 0em -840.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.paypal:before {
      background-position: 0em -842.5em;
      width: 6.2em;
      height: 1.7em;
  }




  .icon.pepper:before {
      background-position: 0em -844.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone-call:before {
      background-position: 0em -846.6em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.pizza:before {
      background-position: 0em -894em;
      width: 3.6em;
      height: 4em;
  }




  .icon.placeholder:before {
      background-position: 0em -898em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -945.7em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.sale:before {
      background-position: 0em -949.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.search:before {
      background-position: 0em -952.3em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.share:before {
      background-position: 0em -954.1em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.smile-good:before {
      background-position: 0em -1002.3em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1006.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -1057.8em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-fb:before {
      background-position: 0em -1066.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-google:before {
      background-position: 0em -1069.2em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1078.9em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-inst:before {
      background-position: 0em -1122em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1124.4em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1168.3em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-tube:before {
      background-position: 0em -1177.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1180.3em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-twt:before {
      background-position: 0em -1221.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1223.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1275em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1326.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1332.6em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.user:before {
      background-position: 0em -1381.7em;
      width: 35em;
      height: 35em;
  }




  .icon.veg:before {
      background-position: 0em -1416.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.viza:before {
      background-position: 0em -1419.1em;
      width: 4.8em;
      height: 1.5em;
  }




  .icon.webmoney:before {
      background-position: 0em -1420.6em;
      width: 9em;
      height: 2.4em;
  }





