.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1519.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -105.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -155.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -202.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -252.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -258.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -303.8em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -351.4em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.caret-down:before {
      background-position: 0em -353.7em;
      width: 29.236200000000004em;
      height: 29.236200000000004em;
  }




  .icon.cart:before {
      background-position: 0em -383em;
      width: 2.2em;
      height: 1.9em;
  }




  .icon.cart--color:before {
      background-position: 0em -384.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.checked:before {
      background-position: 0em -436.1em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clock:before {
      background-position: 0em -438.7em;
      width: 37.296em;
      height: 37.296em;
  }




  .icon.close:before {
      background-position: 0em -476em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.close-fat:before {
      background-position: 0em -481.5em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.coin:before {
      background-position: 0em -483.7em;
      width: 4em;
      height: 3.6em;
  }




  .icon.conner-arrow-left:before {
      background-position: 0em -487.3em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.conner-arrow-right:before {
      background-position: 0em -488.9em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.dinner:before {
      background-position: 0em -490.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.download:before {
      background-position: 0em -541.7em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.filter:before {
      background-position: 0em -588.9em;
      width: 1.8em;
      height: 1.2em;
  }




  .icon.garbage:before {
      background-position: 0em -590.1em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.heart:before {
      background-position: 0em -596em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.hit:before {
      background-position: 0em -643.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.hot:before {
      background-position: 0em -645.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.house:before {
      background-position: 0em -648em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -696.7em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -729.7em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -778.8em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.location:before {
      background-position: 0em -827.9em;
      width: 1.7em;
      height: 2.1em;
  }




  .icon.login:before {
      background-position: 0em -830em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.maestro:before {
      background-position: 0em -833.3em;
      width: 4em;
      height: 2.4em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -835.7em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -880.8em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.mastercard:before {
      background-position: 0em -929.2em;
      width: 4em;
      height: 2.4em;
  }




  .icon.menu:before {
      background-position: 0em -931.6em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.new:before {
      background-position: 0em -977.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.paypal:before {
      background-position: 0em -979.9em;
      width: 6.2em;
      height: 1.7em;
  }




  .icon.pepper:before {
      background-position: 0em -981.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone:before {
      background-position: 0em -984em;
      width: 1.6em;
      height: 2.7em;
  }




  .icon.phone-call:before {
      background-position: 0em -986.7em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.pizza:before {
      background-position: 0em -1034.1em;
      width: 3.6em;
      height: 4em;
  }




  .icon.placeholder:before {
      background-position: 0em -1038.1em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -1085.8em;
      width: 4.2em;
      height: 4.2em;
  }




  .icon.pocket:before {
      background-position: 0em -1090em;
      width: 4em;
      height: 4em;
  }




  .icon.sale:before {
      background-position: 0em -1094em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.search:before {
      background-position: 0em -1096.4em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.share:before {
      background-position: 0em -1098.2em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.smile-good:before {
      background-position: 0em -1146.4em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1150.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -1201.9em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-fb:before {
      background-position: 0em -1210.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-google:before {
      background-position: 0em -1213.3em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1223em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-inst:before {
      background-position: 0em -1266.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1268.5em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1312.4em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-tube:before {
      background-position: 0em -1322em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1324.4em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-twt:before {
      background-position: 0em -1365.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1367.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1419.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1470.3em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1476.7em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.user:before {
      background-position: 0em -1478.5em;
      width: 35em;
      height: 35em;
  }




  .icon.veg:before {
      background-position: 0em -1513.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.viza:before {
      background-position: 0em -1515.9em;
      width: 4.8em;
      height: 1.5em;
  }




  .icon.webmoney:before {
      background-position: 0em -1517.4em;
      width: 9em;
      height: 2.4em;
  }





