// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111

$mark = #e40000
$red = #e40000

$dark = #393f4e
$snow = #ebebf2


$main-text-color = rgba(0, 0, 0, 0.7)
$border-color = $snow

$link-color = black
$link-color-visited = gray
$link-color-hover = black
