@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"
@import "_wgt.styl"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em
	position: relative !important
	top 0!important
.main-cont
	center(1200px,10px)

//.header
.header-top-wrap
	+below(1024px)
		display: none
	background: #393f4e
.header-menu-wrap
	+below(1024px)
		margin-left: -10px
		width calc(100% + 20px)
		z-index 1010
//.main-cont
.header-top
	flex(between)
.town-list
	f()
	color rgba(255, 255, 255, 0.7)
	padding: 15px 20px
	position: relative
	z-index 10
	&:hover
		box-shadow 0 8px 16px rgba(0, 0, 0, 0.16)
		background-color #ffffff
		color black
		.icon
			fill black
			transform rotate(180deg)
		.town-list-drop
			display: block
	.icon
		size 8px
		fill white
		margin-left: 10px
.town-list-drop
	border-radius 0 0 8px 8px
	position: absolute
	top 100%
	left 0
	background: white
	width: 100%
	box-shadow 0 8px 16px rgba(0, 0, 0, 0.16)
	overflow: hidden
	display: none
	padding-bottom: 10px
.town-list-drop__el
	display: block
	padding: 15px 20px
	background: white
	tr(all)
	&:hover
		color $red
.header-top-menu
	width: 50%
	flex(between)
.header-top-menu__el
	color rgba(255, 255, 255, 0.7)
	tr(color)
	&:hover
		color white

//.header-top-soc
.soc-row
	f()
.soc-row__el
	margin-left: 10px
	opacity: .3
	tr(all)
	&:first-child
		margin-left: 0
	&:hover
		opacity:1
	.icon
		size 24px
		fill white


.header-info
	+below(1024px)
		padding: 0
		display: none
	flex(between)
	padding: 40px 0 20px 0
.header-logo
	margin-right: 4%
.header-search
	+below(1200px)
		display: none
	width: 30%
.header-search__form
	position: relative
	width: 100%
	.input
		padding-right: 40px
		width: 100%
.header-search__icon
	position: absolute
	top 50%
	right: 20px
	margin-top: -9px
	.icon
		size 18px
//.header-contact
.header-contacr__phone
	@extend .type--lg
	margin-bottom: 10px
	display: inline-block
//.header-contacr__time
.header-auth
	f()
.header-auth__enter
	@extend .btn--md
	@extend .btn--light
	padding: 20px 10px
	text-align: center
	margin-right: 20px
	min-width: 150px
.cart
	@extend .btn--md
	@extend .btn--mark
	width: 150px
	padding: 20px 10px
	position: relative
//.cart__icon

//for custom navigation
.main-slider-wrap
	.slider-control
		+below(640px)
			display: none
	position: relative
	overflow: hidden
.slider-control
	round()
	flex(mid)
	tr(all)
	size 48px
	position: absolute
	top 50%
	margin-top: -20px
	z-index 10
	cp()
	box-shadow 0 3px 6px rgba(0, 0, 0, 0.16)
	border-radius 8px
	background-color #ffffff
	&:hover
		background: $red
		.icon
			fill white
	.icon
		size 14px

.slider-control--left
	left 20px
.slider-control--right
	right 20px

.main-slider__el
	bg-full()
	padding: 15% 10%

.page
	+below(768px)
		padding: 30px 0
	padding: 60px 0 100px 0
	background: #f6f6fa
.page--white
	background: white
	border-top 1px solid $border-color
.item
	br(10px)
	f()
	fl()
	height: 100%
	background: white
	overflow: hidden
	box-shadow 0 4px 8px rgba(0, 0, 0, 0.06)
	transition all .6s
	cp()
	&:hover
		box-shadow 0 8px 24px rgba(0, 0, 0, 0.26)

.item__img
	bg-full()
	padding: 40% 10%
	background-size: contain
	border-radius 8px 8px 0 0
	background-color: white
	border-bottom 1px solid $border-color

.item-cont
	background: white
	border-radius 0 0 8px 8px
	flex-grow 1
	f()
	fl()
.item-descr
	f()
	margin-bottom: 20px
.item-descr__el
	border-radius 12px
	border 1px solid $snow
	opacity 0.6
	color #000000
	font-family Roboto
	@extend .type--sm
	padding: 3px 15px
	&:first-child
		margin-right: 10px

.item-info
	padding: 25px 25px 30px 25px
	flex-grow 1
	f()
	fl()
.item-title
	@extend .type--lg
	margin-bottom: 20px
	display: inline-block

.item-description
	line-height: 1.4
	margin-bottom: 30px
.item-footer
	f()
	border-top 1px solid $border-color
	margin-top: auto
.item-footer__price
	padding: 15px
	width: 50%
	text-align: center
	@extend .type--lg
	border-right 1px solid $border-color
	color black
.item-footer__get
	cp()
	flex(mid)
	@extend .type--main
	up()
	color $red
	font-weight 500
	text-align: center
	width: 50%


.item-footer__get-btn
	flex(mid)
	tr(all)
	width: 100%
	height: 100%
	&:hover
		background: $red
		color white

.item-footer__get--active
	.item-footer__get-btn
		display: none
	.item-count
		flex(mid)
		input
			background: white
			border-radius 8px
			border 1px solid $snow
			size 32px
			color #999999
.item-count
	display: none

.item-count-val
	border 0!important
	text-align: center
input.item-count__el
	tr(all)
	outline none!important
	&:hover
		background: $red
		color white
		border 1px solid $red
.items--three
	.lsp-block-items
		+below(768px)
			grid-template-columns 1fr 1fr
		+below(480px)
			grid-template-columns 1fr
		display: grid
		grid-gap 25px
		grid-template-columns repeat(3, 1fr)
		margin-bottom: 40px

.items--four
	.lsp-block-items
		+below(1200px)
			grid-template-columns repeat(3, 1fr)
		+below(768px)
			grid-template-columns 1fr 1fr
		+below(480px)
			grid-template-columns 1fr
		display: grid
		grid-gap 25px
		grid-template-columns repeat(4, 1fr)
		margin-bottom: 40px

.items--five
	.lsp-block-items
		+below(1200px)
			grid-template-columns repeat(4, 1fr)
		+below(768px)
			grid-template-columns repeat(3, 1fr)
		+below(640px)
			grid-template-columns 1fr 1fr
		+below(480px)
			grid-template-columns 1fr
		display: grid
		grid-gap 25px
		grid-template-columns repeat(5, 1fr)
		margin-bottom: 40px
	.item-descr
		display: none
	.item-description
		display: none
	.item-title
		margin-bottom: 0
.header-menu__basket
	+below(1024px)
		flex(mid)
		fl()
		margin-left: auto
		width: 60px
	display: none
	width: 70px
	background: $red
	margin-left: 25px
	position: relative
	cp()
	.icon-cart
		size 20px
		fill white
.header-menu__basket-val
	font-size: 10px
	font-weight:700
	color white
	text-align: center
.header-menu__logo
	+below(1024px)
		display: none!important
		flex(mid)
	display: none
	margin-right: 25px
.header-menu__logo--mobile
	+above(1025px)
		display: none
	flex(mid)
	margin-right: 25px
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	to
		transform: translate3d(0, 0, 0);

.shrink
	position fixed!important
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 20
	border-bottom 1px solid $border-color
	.header-menu__logo
		flex(mid)
	.header-menu__basket
		flex(mid)
		fl()
//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	max-width 470px
	.order__row
		margin-bottom: 20px
		border-bottom 0
.modal-content
	+below(640px)
		height: 100%
		padding: 20px 10px
		overflow-y scroll
		width: 100%!important
		br(0)
	background: white
	position: relative
	padding: 40px
	br(10px)

.modal__show
	max-height 100%
	opacity 1
	transform translateY(0)
	position: relative

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	.icon
		size 12px
		fill black
		opacity:.3

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	color black

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto 40px auto
	//width: 80%
	font-size: 16px
	line-height: 1.2
	color #5f5f5f

.validate-form
	input,textarea
		width: 100%
		margin-bottom: 20px
.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.agree-row
	f()
	align-items: center
	margin:10px 0 20px 0
	a
		text-decoration: underline
		display: inline-block

.agree-row__text
	width: 100%
	color black
	font-size: 12px
	a
		color #9c9a9a
		text-decoration: none

.field-error
	.error
		display: none!important

.field-error
	input
		border 1px solid #dc3d3d
.style-label--checkbox.field-error
	.sytle-input-element
		border 1px solid #dc3d3d

.modal-content--true
	flex(mid)
	fl()
	br(10px)
	.icon
		fill green
		size 120px
		margin-bottom: 20px

.modal-text-true
	text-align: center
	font-weight: bold

//modal===end

.footer-wrap
	+below(768px)
		padding-top: 30px
	background: $dark
	padding-top: 60px
	a
		tr(all)
		&:hover
			color $red
.footer-card
	+below(768px)
		grid-template-columns repeat(2, 1fr)
	+below(640px)
		margin-bottom: 30px
	+below(480px)
		grid-template-columns 1fr
	display: grid
	grid-gap 25px
	grid-template-columns repeat(4, 1fr)
	margin-bottom: 100px
.footer-card__el
	+below(480px)
		height: 130px
	padding: 25px
	background-color white
	border-radius 10px
	height: 160px
	f()
	fl()
.footer-card__el-title
	@extend .type--lg
	font-weight:600
	color black
	width: 50%
	margin-bottom: auto
.footer-card__el--mark
	bg-full()
	overflow: hidden
	background-color:black
	.footer-card__el-title
		color white
		flex(between)
		width: 100%
		span
			width: 50%
			display: inline-block
		.icon
			size 40px
			fill $red
.footer-card__el-text
	line-height: 1.6

.footer-info
	+below(640px)
		fl()
		flex(mid)
		padding-bottom: 30px
	f()
	justify-content: space-between
	padding-bottom: 85px
	color white
.footer-info__about
	+below(640px)
		display: none
.footer-logo
	width: 100px
	margin-bottom: 10px
	display: inline-block
.footer-copy
	opacity: .7
.footer-menu
	+below(640px)
		display: none
	f()
	fw()
.footer-menu__el
	width: 48%
	margin-bottom: 20px
	display: block
	color white
//.footer-contact
.footer-contact--mail
	+below(640px)
		order 2
		flex(mid)
		fl()
.footer-contact--phone
	+below(640px)
		order 1
		margin-bottom: 20px
.footer-mail
	+below(640px)
		margin-bottom: 10px
	opacity: .7
	margin-bottom: 25px
	color white
	display: inline-block
//.soc-row
//.soc-row__el
//.icon
.footer-tel
	+below(640px)
		margin-bottom: 10px
	@extend .type--lg
	color white
	margin-bottom: 20px
	display: inline-block
.footer-call
	+below(640px)
		text-align: center
	opacity: .7

.footer-pay
	+below(640px)
		display: none
	f()
	align-items: center
	.footer-pay__text
		color white
		opacity: .7
		margin-right: 20px
	.icon
		size 40px
		margin-right: 10px
		fill white
		opacity: .2

.footer-bottom-wrap
	border-top 1px solid rgba(255, 255, 255, 0.15)
	padding: 30px 0

.footer-bottom
	f()
	align-items: center

.footer-politic
	+below(640px)
		margin-left:initial
		text-align: center
		width: 100%
	color white
	margin-left: auto

.loader
	flex(mid)
	height: 100vh
	width: 100%
	position: fixed
	z-index 1000
	background: rgba(27, 27, 27, 0.75)
	top 0
	left 0
	opacity: .9

/*.body--fix
	overflow hidden
	overflowY hidden
	height: 100%*/
//.item-footer__get--active

.card-img
	padding: 25% 10%
	bg-full()

.book-row__title
	display table-cell
	white-space nowrap
	color black
	font-weight: 500
.book-row__dot
	display table-cell
	border-bottom 1px dashed #e9e9e9
	width 100%
.book-row__value
	display table-cell
	color black
	white-space nowrap
.item-card-weight
	display: inline-block
	margin-left: 5px
	font-size: 10px

.card-count
	+below(640px)
		margin-bottom: 20px
	flex(mid)
	input
		background: white
		border-radius 8px
		border 1px solid $snow
		size 32px
		color #999999

.card-order
	+below(640px)
		flex(mid)
		fl()
	flex(between)
	margin-bottom: 40px
	width: 100%

.card-price
	+below(640px)
		margin-bottom: 15px
	font-size: 32px
	font-weight:500
	color black

.card-get
	+below(640px)
		width: 100%
		margin-bottom: 30px
	@extend .btn--md
	@extend .btn--mark
	color white!important

.cart-wrap
	position: relative

.head-toggle
	size 50px
	flex(mid)
	cp()
	border-right 1px solid $border-color
	margin-right: 20px
	+above(1025px)
		display: none
	.icon
		size 25px
		fill black
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(640px)
		top: 51px //Высота хедера
	+below(480px)
		width: 100%
	background: #393f4e
	color white
	position: fixed
	height: calc(100% - 50px) //Отступ хедер
	z-index 1250
	top 50px
	left 0
	width: 320px
	transform translateX(-100%)
	tr(all)
	.header-auth__enter
		width: 100%
		background: none
		color white
		padding:15px
		border 1px solid rgba(255, 255, 255, 0.24)
		margin: 30px 0

	.lsp-block-menu-tree
		display: none
	li.jstore-tag
		@extend .type--md
		list-style none
		padding: 15px 30px
		border-bottom 1px solid rgba(129, 129, 129, 0.1)
		background: #292e3a
		a
			color white

.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list-el
	display: block
	margin-bottom: 40px
	color white
	font-size: 16px
	up()
	tr(all)
	&:hover
		color red
.body-fix
	overflow-Y: scroll!important
	width:100%!important
.slide-menu__title
	f()
	align-items: center
	padding: 15px 30px
	cp()
	@extend .type--md
	font-weight: 500

	.icon
		size 20px
		fill white
		margin-right: 20px
	.icon-arrow
		margin-left: auto
		margin-right: 0
		size 16px
		tr(all)

.slide-menu__title--active
	.icon-arrow
		transform rotate(180deg)

.slide-menu-cont
	padding: 0 30px 30px 30px

.slide-menu-adv__el
	display: block
	padding: 15px 0
	color #ffffffc9
	@extend .type--md
	border-bottom 1px solid #414757
	&:hover
		color white
.slide-menu__phone
	color white
	@extend .type--lg
	font-weight 400
	margin-bottom: 10px
	display: block
.slide-menu__time
	color #ffffffc9


	+below(640px)
		margin-bottom: 20px 0
		display: none
	f()
	fw()
	//margin-bottom: 45px
	margin: 20px 0 10px 0

.bread
	margin-bottom: 30px
.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	opacity .3
	&:after
		content '-'
		position: absolute
		right: -10px
		top 1px
	&:last-child
		&:after
			content ''
			display: none


.sale
	+below(768px)
		grid-template-columns repeat(2,1fr);
	+below(480px)
		margin-left: -10px
		width:calc(100% + 20px)
		grid-template-columns repeat(1,1fr);
	display: grid
	grid-row-gap 40px
	grid-column-gap 20px
	grid-template-columns repeat(2,1fr);
//.sale__el
.sale__el-img
	+below(640px)
		br(0)
	bg-full()
	padding: 20% 10%
	margin-bottom: 15px
	br(10px)
.sale__el-title
	@extend .type--lg
	margin-bottom: 15px
	color black
.sale__el-text
	line-height: 1.6
	margin-bottom: 30px
	color rgba(0, 0, 0, 0.7)
.section-title
	+below(1024px)
		margin: 30px 0
	@extend .type--xxl
	color black
	margin: 45px 0
.sale__el-content
	padding: 10px
.sale__el-code
	font-weight: 700
	@extend .type--lg
	color $red

.star-row
	f()
	.icon
		fill #ffa200
	.star-row__el--empty
		.icon
			fill $snow
.star-row__el
	margin-right: 10px
	.icon
		size 18px
//.review

.review__el
	padding-bottom: 30px
	margin-bottom: 30px
	border-bottom 1px dashed #c5c5c5
.review__el--active
	padding: 30px
	flex(mid)
	fl()
	bgi('pattern.jpg')
	background-repeat: repeat
.review__msg-icon
	margin-bottom: 30px
	.icon
		size 50px
.review__msg-title
	@extend .type--xl
	margin-bottom: 10px
.review__msg-text
	line-height: 1.6
	margin-bottom: 40px
	text-align: center
.review__msg-get
	@extend .btn--md
	@extend .btn--mark
	padding: 20px

.review-heart
	f()
	margin-bottom: 20px
	padding-bottom: 20px
	border-bottom 1px solid $gray--light
	width: 100%
	.icon
		size 20px
		margin-right: 5px
		fill $green
.review-text
	line-height: 1.6
	margin-bottom: 20px
.review-date
	+below(640px)
		width: 100%
		margin-bottom: 10px
	opacity .5

.review-wrap
	+below(640px)
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
.review
	+below(768px)
		width calc(100% - 320px)
	+below(640px)
		width: 100%
		margin-bottom: 20px
		order 2
	width: 65%
.review-get-wrap
	width: 30%

.review__el-head
	+below(640px)
		fw()
	f()
	align-items: center
	margin-bottom: 20px
	.star-row
		+below(640px)
			margin-left:initial
		margin-left: auto

.review__el-name
	+below(640px)
		width: 100%
		margin-bottom: 10px
		font-size: 16px
	@extend .type--md
	font-weight 500
	color black
	margin-right: 20px

.review__el-title
	@extend .type--lgx
	color black
	margin-bottom: 20px
	line-height: 1.6
	font-weight: 700

.review-get-wrap
	+below(640px)
		width: 100%
		margin-bottom: 30px
	width: 275px
.review-get
	+below(640px)
		padding: 30px 20px
	flex(mid)
	fl()
	box-shadow 0 16px 24px rgba(0, 0, 0, 0.06)
	border-radius 8px
	border 1px solid #707070
	background-color $dark
	padding: 40px
.review-get__title
	@extend .type--lg
	color white
	text-align: center
	margin-bottom: 20px
.review-get__text
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 50px
	text-align: center
	color white
	opacity 0.7
	line-height: 1.4
.review-get__btn
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark

.vacancy
	+below(768px)
		grid-template-columns 1fr 1fr
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-gap 25px
	grid-template-columns repeat(3, 1fr)
.vacancy__el
	f()
	fl()
	border-radius 8px
	border 1px solid #e5e5e5
	background-color #ffffff
	padding: 35px 25px
.vacancy__el-title
	@extend .type--lgx
	font-weight: 600
	margin-bottom: 20px
	color black
.vacancy__el-text
	color rgba(0, 0, 0, 0.7)
	line-height: 1.6
	margin-bottom: 40px

.vacancy__el-footer
	+below(1024px)
		flex(mid)
		fl()
	border-top 1px dashed #e9e9e9
	padding-top: 30px
	flex(between)
	margin-top: auto
.vacancy__el-val
	+below(1024px)
		margin-bottom: 30px
	@extend .type--lg
	color black
.vacancy__el-get
	+below(1024px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark
	padding: 18px 45px

.deliver
	+below(768px)
		margin-bottom: 50px
		margin-top: 30px
	+below(640px)
		margin-top: 0
	position: relative
	margin-bottom: 90px
.deliver-map
	+below(640px)
		position: static
		height: 400px
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	overflow: hidden
//.main-cont
//.deliver-wrap
.deliver-card
	+below(640px)
		margin-top: 0
		margin-bottom: 0
		border-radius 0
		margin-left: -10px
		width calc(100% + 20px)
		height: auto
	f()
	fl()
	padding: 30px
	box-shadow 0 16px 24px rgba(0, 0, 0, 0.06)
	border-radius 12px
	background-color $dark
	color white
	width: 375px
	height: 540px
	margin-left: auto
	margin-top: -20px
	margin-bottom: -20px
	position: relative
	z-index 1
//.deliver-card__head
.deliver-card__head-title
	@extend .type--sm
	margin-bottom: 10px
.deliver-card__head-date
	+below(640px)
		margin-bottom: 40px
	color #c5ff00
	@extend .type--lgx
.deliver-card__title
	@extend .type--xl
	color white
	font-weight: 600
	margin-top: auto
	margin-bottom: 30px
.deliver-card__text
	opacity:.7
	line-height: 1.4
	font-weight: 300

.deliver-adv
	+below(768px)
		grid-gap 20px
		margin-bottom: 50px
		margin-top: 30px
	+below(640px)
		grid-template-columns 1fr
	display: grid
	grid-gap 40px
	grid-template-columns repeat(3, 1fr)
	margin-top: 70px
	margin-bottom: 170px
.deliver-adv__el
	f()
.deliver-adv__el-icon
	size 40px
	margin-right: 30px
	.icon
		size 40px
		fill $red
//.deliver-adv__el-cont
.deliver-adv__el-title
	@extend .type--lgx
	margin-bottom: 20px
	color black
.deliver-adv__el-text
	line-height: 1.4

.title--md
	@extend .type--xl
	margin-bottom: 40px
	color black

.get-rating
	+below(480px)
		fw()
		margin-bottom: 20px
	f()
	justify-content: space-between
	align-items: center
	margin-bottom: 40px
	.icon
		opacity: .3
		cp()
.get-rating-text
	+below(480px)
		width: 100%
		margin-bottom: 10px
	@extend .type--lg
	color black
.star--active
	.icon
		opacity: 1

.input-row
	width: 100%
	.input
		width: 100%

.review-item
	+below(768px)
		width: 100%
	width: 675px
	.input-row
		+below(480px)
			width: 100%
		width: 55%
.review-item-row
	+below(480px)
		fw()
		margin-bottom: 10px
	f()
	justify-content: space-between
	margin-bottom: 30px
	.agree-row
		+below(480px)
			width: 100%
			margin-bottom: 20px
		width: 60%
.review-item-name
	+below(480px)
		width: 100%
		margin-bottom: 10px
	@extend .type--lg
	color black
	width: 30%
	margin-top: 10px
.star-row-wrap
	+below(480px)
		width: 100%
	width: 55%

.review-item-get
	+below(480px)
		width: 100%
	width: 40%

.review-item-btn
	+below(480px)
		width: 100%
		margin-left:initial
	@extend .btn--md
	@extend .btn--mark
	margin-left: auto

//contact
.contact
	+below(768px)
		margin-bottom: 50px
		margin-top: 30px
	+below(640px)
		margin-top: 0
	position: relative
	margin-bottom: 90px
.contact-map
	+below(640px)
		position: static
		height: 400px
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	overflow: hidden
//.main-cont
//.contact-wrap
.contact-card
	+below(640px)
		margin-top: 0
		margin-bottom: 0
		border-radius 0
		margin-left: -10px
		width calc(100% + 20px)
		height: auto
	padding: 40px 30px
	box-shadow 0 16px 24px rgba(0, 0, 0, 0.06)
	border-radius 12px
	background-color $dark
	color white
	width: 375px
	margin-top: 40px
	margin-bottom: 40px
	position: relative
	z-index 1
.contact-card__head-title
	@extend .type--sm
	margin-bottom: 10px
.contact-card__head-date
	+below(640px)
		margin-bottom: 40px
	color #c5ff00
	@extend .type--lgx
.contact-card__title
	@extend .type--xl
	color white
	font-weight: 600
	margin-top: auto
	margin-bottom: 30px
.contact-card__text
	opacity:.7
	line-height: 1.4
	font-weight: 300

.contact-card__row
	f()
	padding: 30px 0
	border-top 1px solid rgba(255, 255, 255, 0.1)
	&:nth-child(3)
		padding-bottom: 0
.contact-card__icon
	margin-right: 20px
	.icon
		size 28px

.contact-card__phone
	@extend .type--lgx
	color white
	&:nth-child(1)
		margin-bottom: 10px

.contact-card__content
	span
		display: inline-block
		margin-bottom: 10px
		opacity: .7

.contact-card__head
	padding-bottom: 30px
//contact===end

.contact-form
	+below(768px)
		margin-bottom: 40px
	center(575px,0)
	margin-bottom: 100px
	.input-row
		margin-bottom: 25px
.contact-form__title
	@extend .type--xl
	text-align: center
	color black
	margin-bottom: 50px

.review-row-name
	@extend .type--lg
	color black
	margin-bottom: 10px

.input-row-wrap--half
	f()
	fw()
	justify-content: space-between
	.input-row
		+below(640px)
			width: 100%
		width: 48%
.contact-form-footer
	f()
	fw()
	justify-content: space-between
	.agree-row
		+below(480px)
			width: 100%
			margin-bottom: 20px
		width: 60%
.contact-form-btn
	+below(480px)
		width: 100%
		margin-left:initial
	@extend .btn--md
	@extend .btn--mark
	margin-left: auto

.blog
	+below(768px)
		grid-template-columns: 1fr 1fr
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 25px
	grid-template-columns: repeat(3, 1fr)
.blog-banner
	+below(480px)
		grid-column 1/2
		padding: 50% 10%
	bg-full()
	br(8px)
	overflow: hidden
	grid-column 1/3
	position: relative
	padding: 30% 10%
	.filter
		position: absolute
		top 0
		left 0
		width: 100%
		height: 100%
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.44) 100%);
.blog-banner__title
	+below(480px)
		font-size: 20px
		letter-spacing 1px
	color white
	@extend .type--xl
	position: relative
	margin-top: auto
.blog-el
	br(8px)
	box-shadow 0 4px 8px rgba(0, 0, 0, 0.06)
	border-radius 8px
	background-color #ffffff
.blog-el__img
	bg-full()
	padding: 30% 10%
.blog-banner__content
	+below(640px)
		padding: 20px 15px
	f()
	line-height: 1.4
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	padding: 30px

.blog-el__content
	padding: 30px 25px 70px 25px
.blog-el__date
	@extend .type--sm
	letter-spacing 1.2px
	margin-bottom: 10px
.blog-el__title
	@extend .type--lgx
	color black
	margin-bottom: 10px
.blog-el__text
	line-height: 1.4

//content
.content-wrap
	+below(640px)
		fw()
	f()
	justify-content: space-between
	align-items: flex-start
.content
	+below(768px)
		width calc(100% - 320px)
	+below(640px)
		width: 100%
		margin-bottom: 20px
	width: 65%
	p
		line-height: 1.4
		color rgba(0, 0, 0, 0.7)
		margin-bottom: 40px
	ul
		list-style-type: none
		padding-left: 20px
		margin-bottom: 40px
		li
			margin-bottom: 15px
			position: relative
			&:before
				content ''
				size 4px
				round()
				background: $red
				position: absolute
				left -20px
				top 4px
	.table
		display: block
		overflow-x: auto
		table
			min-width 600px

.content-get-wrap
	width: 30%

.content-get-wrap
	+below(640px)
		width: 100%
		margin-bottom: 30px
	width: 275px
.content-get
	+below(640px)
		padding: 30px 20px
	flex(mid)
	fl()
	box-shadow 0 16px 24px rgba(0, 0, 0, 0.06)
	border-radius 8px
	border: 1px solid #ebebeb;
	padding: 40px
.content-get__title
	@extend .type--lg
	text-align: center
	margin-bottom: 20px
.content-get__text
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 50px
	text-align: center
	opacity 0.7
	line-height: 1.4
.content-get__btn
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark
.content-img
	margin-bottom: 40px
.mark-box
	+below(640px)
		padding: 30px 20px
	br(8px)
	@extend .type--lg
	padding: 40px
	background: #ebebf2
	line-height: 1.4
	color black
	margin-bottom: 40px
//content===end

.share-title
	@extend .type--lg
	margin-bottom: 20px

.share
	.soc-row
		margin-bottom: 40px
		f()
	.soc-row__el
		.icon
			size 40px
			fill $dark

.cart-get--empty
	background: gray
	pointer-events none!important
	opacity: .3

.cart-inner-wrap
	position: relative
	f()
	border-radius 10px 0 10px 10px
	overflow: hidden

.cart-inner-wrap__add
	+below(640px)
		display: none
	width: 50%
	border-radius 10px 0 0 10px
	padding: 20px
	background: #ededed
	.lsp-block-item
		background: #ededed
		margin-bottom: 10px
		overflow: hidden
	.item
		border-radius 0!important
		background: #ededed
		&:last-child
			margin-bottom: 0
	.item__img
		display: none
	.item-descr
		display: none
	.item-info
		padding: 20px
	.item-title
		text-align: left
		font-size: 16px
		text-transform: none
		margin-bottom: 10px
		padding: 0
	.item-description
		text-transform: none
		text-align: left
		font-size: 10px
		opacity: .6
		margin-bottom: 0
	.item-cont
		border-bottom 1px solid $border-color
	.item-footer__price
		padding: 10px
	.item-param
		display: none
.cart-inner-wrap__info
	+below(640px)
		width: 100%
	width: 50%

.cart-inner-wrap__add-title
	text-align: left
	margin 20px 0
	font-weight: 700
	font-size: 16px

.cart-favorite
	max-height 550px
	overflow-y auto
	padding-right: 10px
	&::-webkit-scrollbar
		-webkit-appearance: none
		width: 4px
	&::-webkit-scrollbar-thumb
		border-radius: 4px
		background-color: white

.item--clone
	.item-tag
		display: none !important
	.item-check
		display: none !important
	width: 300px
	max-height 500px

@keyframes shake
	from,11.1%,to
		transform: translate3d(0, 0, 0)
	22.2%
		transform: skewX(-12.5deg) skewY(-12.5deg)
	33.3%
		transform: skewX(6.25deg) skewY(6.25deg)
	44.4%
		transform: skewX(-3.125deg) skewY(-3.125deg)
	55.5%
		transform: skewX(1.5625deg) skewY(1.5625deg)
	66.6%
		transform: skewX(-0.78125deg) skewY(-0.78125deg)
	77.7%
		transform: skewX(0.390625deg) skewY(0.390625deg)
	88.8%
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg)


.shake
	animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both
	transform: translate3d(0, 0, 0)
	backface-visibility: hidden
	perspective: 1000px