include block_html/_style.pug
include block_html/_include.pug

+header()

.loader
	img(src="img/loader.svg", alt="")

.page
	.main-cont
		.bread
			-
				var items = ['Главная','Пиццы','Гавайская с курицей','Пиццы','Гавайская с курицей','Пиццы','Гавайская с курицей'];
			each item in items
				a(href="#").bread__el #{item}
		.content-wrap
			.content
				h1 H1 Контентная страница в 2 строки
				p Ускорение темпа жизни и представленные в изобилии на прилавках магазинов, а также в сетях быстрого питания продукты, навязанные рекламой, удобные в использовании, но не полезные, а часто вредные, заставляют многих людей задуматься о том, как начать правильно питаться и вписать этот пункт в свой ежедневный график.
				p Ускорение темпа жизни и представленные в изобилии на прилавках магазинов, а также в сетях быстрого питания продукты, навязанные рекламой, удобные в использовании, но не полезные, а часто вредные, заставляют многих людей задуматься о том, как начать правильно питаться и вписать этот пункт в свой ежедневный график.удобные в использовании, но не полезные, а часто вредные, заставляют многих людей задуматься о том, как начать правильно питаться и вписать этот пункт в свой ежедневный график.
				img(src="img/blog-banner.jpg", alt="").content-img
				h2 H2 — Правила выбора рациона на день, в 3 строки
				p Ускорение темпа жизни и представленные в изобилии на прилавках магазинов, а также в сетях быстрого питания продукты, навязанные рекламой, удобные в использовании, но не полезные, а часто вредные, заставляют многих людей задуматься о том, как начать правильно питаться и вписать этот пункт в свой ежедневный график.
				h3 H3 Маркерованный список
				ul
					li Лучше начать есть чаще и небольшими порциями
					li Не кушать плотно перед сном.
					li Включать овощи в каждый приём пищи.
					li Пить больше простой негазированной воды.
					li Сократить количество простых углеводов
				.mark-box " Особенно важно уяснить значимость свежести продуктов и готовых блюд. Даже полезные продукты могут нанести вред, если их не готовить правильно. Всегда предпочитайте варёное и приготовленное на пару жареному "
				h4 H4 Таблица
				.table
					table
						thead
							tr
								td Заголовок
								td Заголовок
								td Заголовок
								td Заголовок
						tbody
							- for (var i=0;i<8;i++)
								tr
									td Особенно важно уяснить
									td Значимость свежести продуктов и готовых блюд. Даже полезные продукты
									td Быстрого питания продукты, навязанные рекламой, удобные в использовании
									td А часто вредные, заставляют многих людей

			.content-get-wrap
				.share
					.share-title Поделитесь с друзьями:
					.soc-row
						a(href="#").soc-row__el
							+icon("soc-fb","icon")
						a(href="#").soc-row__el
							+icon("soc-twt","icon")
						a(href="#").soc-row__el
							+icon("soc-inst","icon")

				.content-get
					.content-get__title Оставьте отзыв о нашем заведении
					.content-get__text Этим вы поможете <br> нам стать еще лучше! :)
					a(href="#").review-get__btn написать

+footer()
+wgt()

include ./block_html/_script.pug