-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Акции',
			'href':'sale'
		},
		{
			'name':'Отзывы',
			'href':'review'
		},
		{
		'name':'Вакансии',
		'href':'vacancy'
		},
		{
			'name':'Доставка',
			'href':'deliver'
		},
		{
			'name':'Оставить отзыв',
			'href':'review-item'
		},
		{
			'name':'Контакты',
			'href':'contact'
		},
		{
			'name':'Блог',
			'href':'blog'
		},
		{
			'name':'Контентная',
			'href':'content'
		}
	]

