mixin wgt()
	//корзина
	script(type="text/html" id="top-cart-header-template")
		<% if(totalItems){ %>
		span.jstore-js-cart-total-value
			<%= totalCost %></span> Р (<span class="jstore-js-cart-total-count"><%= totalItems %></span>ШТ.)
		<% } else { %>
		| Корзина
		<% } %>
		.cart-inner
			a.close-cart(href='#', onclick="$('body').toggleClass('cart-open');")
			<% if(totalItems){ %>
			.cart-list.lsp-cart-items-list(data-template='top-cart-item-template')
			.cart-summary
				.cart-total
					span.jstore-js-cart-total-value <%= totalCost %>
					|  Р.
				<% if(totalCost>=495){ %>
					a(href='#!/order').cart-get Оформить
				<% }else{ %>
					a(href='/').cart-get.cart-get--empty Оформить
				<% } %>
			.cart-min Минимальная сумма заказа - 495руб.
			<% } else { %>
				.cart-empty
					.cart-empty__icon
						+icon("cart--color","icon")
					.cart-empty__text Пока пусто
			<% } %>


	//корзина елемент списка
	script(type="text/html" id="top-cart-item-template")
		.cart-item
			.cart-item__info
				.cart-item__img(style!="background-image:url(<%= smallImageUrl %>)")
				.cart-item__name
					span <%= name %>
					span.cart-item__name--add <%= typesTail %>
			.cart-item__footer
				.cart-item__incr
					input.lsp-button-minus.lsp-button-minus.lsp-js-item-minus.minus(type='button', value='-', onclick='change_count();')
					input.cart-item__incr-total.lsp-block-cart-item-amount-c-count(name='count', value='<%= amount %>')
					input.lsp-button-plus.lsp-js-item-plus.plus(type='button', value='+', onclick='change_count();')

				.cart-item__price <%= price %> Р.



	//корзина в fix
	script(type="text/html" id="top-cart-header-template-cart")
		<% if(totalItems > 0){ %>
			span.jstore-js-cart-total-value
				<%= totalCost%>
			|  р
		<% } %>
		.cart-inner
			a.close-cart(href='#', onclick="$('body').toggleClass('cart-open');")
			<% if(totalItems){ %>
			.cart-list.lsp-cart-items-list(data-template='top-cart-item-template')
			.cart-summary
				.cart-total
					span.jstore-js-cart-total-value <%= totalCost %>
					|  Р.
				<% if(totalCost>=495){ %>
				a(href='#!/order' ).cart-get Оформить
				<% }else{ %>
				a(href='/').cart-get.cart-get--empty Оформить
				<% } %>
			.cart-min Минимальная сумма заказа - 495руб.
			<% } else { %>
			.cart-empty
				.cart-empty__icon
					+icon("cart--color","icon")
				.cart-empty__text Пока пусто
			<% } %>

	//корзина карточка товара
	script(type="text/html" id="order-cart-order-template")
		.cart-order
			<% if(totalItems){ %>
			.cart-order-title Ваш заказ
			.cart-list.lsp-cart-items-list(data-template='top-cart-item-template-order')
			<% } else { %>
			.cart-empty
				.cart-empty__icon
					+icon("cart--color","icon")
				.cart-empty__text Пока пусто
			<% } %>

	//корзина елемент списка в оформлении заказа
	script(type="text/html" id="top-cart-item-template-order")
		.cart-order-item
			.cart-order__img(style!="background-image:url(<%= smallImageUrl %>)")
			.cart-order__info
				.cart-order__name
					span <%= name %>
					span.cart-order__name--add <%= typesTail %>
				.cart-order__price <%= price %> Р.


	//карточка товара
	script(type="text/html" id="lsp-template-menu-item")
		.item
			a(href!='<%= url %>', data-target='product', onclick="prevpage = 'popup';  console.log('popup');")
				<% if(tags.length){ %>
					.jstore-tag.lsp-block-item-tags
						<% _.each(tags, function(tag){ %>
							span.jstore-tag.lsp-block-item-tag(data-id='<%= tag.translitName %>', class!='<%= tag.className %>', title!='<%= tag.name %>')
						<% }); %>
				<% } %>
				<% if(largeImageUrl){ %>
					.item__img(style!="background-image:url(<%=largeImageUrl %>)")
				<% }else{ %>
					.item__img.item__img--empty(style="background-image:url('/img/item-empty.svg')")
				<% } %>
			.item-cont
				.item-info
					.item-descr
						.item-descr__el
							span(data-jstore-value="weight") <%= weight*1000 %>
							span  гр.
						.item-descr__el
							span(data-jstore-value="energyAmount") <%= energyAmount %>
							span  ккал
					a.item-title(href!='<%= url %>', onclick="prevpage = 'popup';console.log('popup');") <%= name %>
					.item-description
						<%= description %>
					.item-param.lsp-js-typeModifiers-block
						.lsp-modifier-group.lsp-js-types-container
				.item-footer
					.item-footer__price
						span
							span.jstore-tag.lsp-block-item-price-value(data-jstore-value="cost")
								<%= cost %>
							|  Р
					.item-footer__get
						.item-footer__get-btn.lsp-popup-item-tocart-button.lsp-button.jstore-js-put-to-cart(href='#') В корзину
						.item-count.jstore-tag.select-plus-minus
							input(type="button"  value="-" class="jstore-tag lsp-button-minus jstore-js-amountMinus item-count__el item-count__el--minus")
							input(type="text" data-jstore-value="cartCount" class="item-count-val jstore-tag")
							input(type="button"  value="+" class="jstore-tag lsp-button-plus jstore-js-amountPlus item-count__el item-count__el--plus")


	//карточка товара подробная
	script(type="text/html" id="custom-popup")
		.card-img.jstore-tag(style!="background-image:url(<%=largeImageUrl %>)")
		.card-descr
			.card-title(data-jstore-value='name')
			.card-text(data-jstore-value='description')
			.card-modificators
				.jstore-tag.lsp-js-typeModifiers-block
					.jstore-tag.lsp-modifier-group.lsp-js-types-container
			.jstore-tag.lsp-popup-energy-cont(data-jstore-if='fiberAmount || fatAmount || carbohydrateAmount || carbohydrateAmount || energyAmount || weight')
				//.jstore-tag.lsp-popup-energy-title <%= jStoreApp.t('energy_sum') %>:
				.card-compound
					//Белки
					.book-row(data-jstore-if='fiberAmount')
						.book-row__title <%= jStoreApp.t('Proteins')%>
						.book-row__dot
						.book-row__value
							span.lsp-js-item-fiberAmount-value <%= fiberAmount*1000%>
							span.item-card-weight <%= jStoreApp.t('Gram')%>

					//Жиры
					.book-row(data-jstore-if='fatAmount')
						.book-row__title <%= jStoreApp.t('Fats')%>
						.book-row__dot
						.book-row__value
							span.lsp-js-item-fatAmount-value <%= fatAmount*1000%>
							span.item-card-weight <%= jStoreApp.t('Gram')%>

					//Углеводы
					.book-row(data-jstore-if='carbohydrateAmount')
						.book-row__title <%= jStoreApp.t('Carbohydrates')%>
						.book-row__dot
						.book-row__value
							span.lsp-js-item-carbohydrateAmount-value <%= carbohydrateAmount*1000%>
							span.item-card-weight <%= jStoreApp.t('Gram')%>

					// Энергетическая ценность
					.book-row(data-jstore-if='energyAmount')
						.book-row__title <%= jStoreApp.t('Nutritional_value')%>
						.book-row__dot
						.book-row__value
							span.lsp-js-item-energyAmount-value <%= energyAmount%>
							span.item-card-weight <%= jStoreApp.t('CCal')%>

					//Вес
					.book-row(data-jstore-if='weight')
						.book-row__title <%= jStoreApp.t('Weight')%>
						.book-row__dot
						.book-row__value
							span.jstore-tag.lsp-popup-table-property-value.lsp-js-item-weight-value(data-jstore-value="weight"
							)
							span.item-card-weight г.


			.card-order
				.card-price
					span.lsp-block-item-price-value(data-jstore-value='cost')
					|  P
				.card-count
					input.jstore-tag.minus.lsp-button-minus.lsp-js-popup-item-minus.item-count__el.item-count__el--minus(type='button', value='-')
					input.jstore-tag.lsp-block-cart-item-amount-c-count.item-count-val(name='count', data-jstore-value='cartCount')
					input.jstore-tag.plus.lsp-button-plus.lsp-js-popup-item-plus.item-count__el.item-count__el--plus(type='button', value='+', title='')
				a.btn.lsp-popup-item-tocart-button.lsp-js-popup-tocart.card-get(href='#') В корзину

			.card-modifiers
				.jstore-tag.lsp-modifiers-container.lsp-js-modifiers-block
					.jstore-tag.lsp-modifier-group.lsp-js-modifiers-container

